
<h1>Student Table</h1>
<% @students.each do |student| %>
<div class="p-2">
    <div  class="flex">
    <h1 class="w-40 my-0"><%= link_to  student.name, student %></h1>
     <% if student.draft? %>
        <div class="p-1 rounded bg-blue-100 text-blue-900 w-40 h-10">Draft</div>
    <% elsif student.scheduled? %>
        <div class="p-1 rounded bg-green-500 text-green-900 w-40 h-10">Scheduled</div>
    <% end %>
    </div>
    <h3 class="mb-10"><%= student.content %></h3>
    <hr class="my-0 bg-red-500 h-1">
</div>
<% end %>

<h6>Please login to Add new student, Edit the student.</h6>